<div class="card card-inverse" style="background-color: #333; border-color: #fff;"><small>
  <div class="card-header" role="tab" id="<%= id %>OptionsHeader">
    <h6 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>Options" aria-expanded="false" aria-controls="<%= id %>Options" class="card-title">
        <%- title %>
      </a>
    </h6>
  </div>

  <div id="<%= id %>Options" class="collapse show" role="tabpanel" aria-labelledby="<%= id %>OptionsHeader">
    <div class="card-block card-text">
      <%if (id === "sun") { %>
      <div class="form-group">
        <label for="<%= id %>Radius">Radius</label>
        <input type="number" data-bind="textInput: radius" class="form-control form-control-sm" id="<%= id %>Radius" placeholder="Enter the radius for the <%= id %>">
      </div>
      <% } %>

      <%if (id === "planet" || id === "moon") { %>
      <div class="form-group">
        <label>Amount of <%= id %>s</label>
        <div class="row">
          <div class="col-6">
            <input type="number" data-bind="textInput: minCount" class="form-control form-control-sm" placeholder="Min" min="0">
          </div>
          <div class="col-6">
            <input type="number" data-bind="textInput: maxCount" class="form-control form-control-sm" placeholder="Max" min="0">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Size of <%= id %>s</label>
        <div class="row">
          <div class="col-6">
            <input type="number" data-bind="textInput: minSize" class="form-control form-control-sm" placeholder="Min" min="0">
          </div>
          <div class="col-6">
            <input type="number" data-bind="textInput: maxSize" class="form-control form-control-sm" placeholder="Max" min="0">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Distance between <%= id %>s</label>
        <div class="row">
          <div class="col-6">
            <input type="number" data-bind="textInput: minDistance" class="form-control form-control-sm" placeholder="Min" min="0">
          </div>
          <div class="col-6">
            <input type="number" data-bind="textInput: maxDistance" class="form-control form-control-sm" placeholder="Max" min="0">
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</small></div>